---
interface Props {
  icon: string;
}

const { icon } = Astro.props as Props;
---

<span
  class="flex items-center justify-center w-12 h-12 rounded-full text-2xl p-3 border-2 border-dark dark:border-dark-dark text-dark dark:text-dark-dark group-hover:text-primary dark:group-hover:text-dark-primary transition-transform duration-300 transform cursor-pointer"
>
  <i
    class=`${icon} group-hover:-rotate-16 transition-transform duration-300 transform cursor-pointer`
  ></i>
</span>
