---
const { icon, link } = Astro.props;
---
<a href={link} target="_blank" rel="noopener noreferrer" class="text-2xl hover:text-accent dark:hover:text-dark-accent-light transition-transform transform hover:scale-110 hover:rotate-3">
  <i class={icon}></i>
</a>
