---

---

<span
  class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-200 overflow-hidden transition-all duration-300 ease-out z-10"
>
  <span
    class="block w-0 h-full bg-primary transition-all duration-400 ease-out group-hover:w-full group-focus-within:w-full"
  ></span>
</span>
