---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="min-h-screen flex flex-col items-center justify-center text-center p-8 bg-background dark:bg-dark-background"
  >
    <h1 class="text-5xl font-bold text-primary dark:text-dark-primary mb-4">
      404
    </h1>

    <p class="text-lg text-dark dark:text-dark-dark mb-6">
      Lo sentimos, no pudimos encontrar esta página.
    </p>

    <a href="/" class="text-primary underline dark:text-dark-primary"
      >Volver al inicio</a
    >
  </section>
</Layout>
