---
import ContactSection from "@/components/contact/organisms/contactSection.astro";
import Layout from "../layouts/Layout.astro";

const title = "Contáctanos | Desarrollo de Software a Medida - PrometeonDev";
const description =
  "¿Necesitas una solución digital? Ponte en contacto con PrometeonDev y te ayudaremos a desarrollar tu sitio web, app móvil o sistema a la medida.";
const keywords =
  "contacto PrometeonDev, desarrollo de software, cotizar página web, crear app móvil, soluciones digitales, empresa de software en Colombia, contacto desarrollo web, Prometeon, PrometeonDev";
---

<Layout {title} {description} {keywords}>
  <div class="container mx-auto text-center pt-28 px-4 pb-4">
    <h1
      class="text-5xl font-primary font-bold text-primary dark:text-dark-dark"
    >
      Contáctanos
    </h1>
  </div>

  <ContactSection />
</Layout>
