---
import ContactSection from "@/components/contact/organisms/contactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contacto - PrometeonDev"
  description="Ponte en contacto con nosotros para más información o consultas."
>
  <div class="container mx-auto text-center pt-28 px-4 pb-4">
    <h1
      class="text-5xl font-primary font-bold text-primary dark:text-dark-dark"
    >
      Contáctanos
    </h1>
  </div>

  <ContactSection />
</Layout>
