---
import PortfolioGrid from "../molecules/PortfolioGrid.astro";
import PortfolioTittle from "../atoms/PortfolioTittle.astro";

const { title } = Astro.props;
---

<section class="container mx-auto pt-24 md:px-10 lg:px-12 flex flex-col gap-6">
  <PortfolioTittle title={title} />

  <PortfolioGrid />
</section>
