---
import PortfolioGrid from "../molecules/PortfolioGrid.astro"
import PortfolioTittle from "../atoms/PortfolioTittle.astro"
---

<section class="container mx-auto py-20 px-10">
    <PortfolioTittle title={Astro.props.title} />
    <PortfolioGrid items={Astro.props.items} />
  </section>