---
import TechLogo from "../atoms/techLogo.astro";

const logos = [
  { name: "NestJS", id: "nestjs", color: "#ea2845" },
  { name: "Astro", id: "astro", color: "#ff5d01" },
  { name: "PostgreSQL", id: "postgresql", color: "#336791" },
  { name: "AWS", id: "aws", color: "#ff9900" },
  { name: "Java", id: "java", color: "#e76f00" },
  { name: "Laravel", id: "laravel", color: "#ff2d20" },
  { name: "MongoDB", id: "mongo", color: "#47A248" },
  { name: "MySQL", id: "mysql", color: "#00758F" },
  { name: "Next.js", id: "nextjs", color: "#000000" },
  { name: "Node.js", id: "nodejs", color: "#83CD29" },
  { name: "PHP", id: "php", color: "#787CB5" },
  { name: "Python", id: "python", color: "#FFE873" },
  { name: "React", id: "react", color: "#61DBFB" },
  { name: "WordPress", id: "wordpress", color: "#21759b" },
];
---

<div class="relative w-full overflow-hidden py-8">
  <div class="flex animate-[scroll_10s_linear_infinite] paused w-fit">
    {logos.map((logo) => <TechLogo id={logo.id} color={logo.color} />)}
    {logos.map((logo) => <TechLogo id={logo.id} color={logo.color} />)}
  </div>
</div>
