---
import VideoThumbnail from "../atoms/videoThumbnail.astro";
import PlayIcon from "../atoms/playIcon.astro";

interface Props {
  src: string;
  alt: string;
  title: string;
}

const { src, alt, title } = Astro.props as Props;
---

<div id="video-play" class="relative group cursor-pointer">
  <VideoThumbnail src={src} alt={alt} title={title} />

  <PlayIcon />
</div>
