---
import VideoThumbnail from "../atoms/videoThumbnail.astro";
import PlayIcon from "../atoms/playIcon.astro";

interface Props {
  src: string;
}

const { src } = Astro.props as Props;
---

<div id="video-play" class="relative group cursor-pointer">
  <VideoThumbnail src={src} />

  <PlayIcon />
</div>
