---
import CarouselText from "../atoms/carouselText.astro";

interface Props {
  items: { text: string }[];
  speed?: number;
}

const { items = [], speed = 100 } = Astro.props as Props;

const duplicatedItems = [...items, ...items];
---

<div class="flex">
  <div
    class="flex items-center transform w-max py-8 animate-scroll whitespace-nowrap"
    style={`--speed: ${speed}s`}
  >
    {
      duplicatedItems.map((item, index) => (
        <>
          <CarouselText text={item.text} />

          {index !== duplicatedItems.length - 1 && (
            <span class="text-[clamp(3rem,10vw,4rem)] px-4 font-bold leading-[0.9] select-none flex-shrink-0 text-dark dark:text-dark-dark">
              |
            </span>
          )}
        </>
      ))
    }
  </div>
</div>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll var(--speed) linear infinite;
  }
</style>
