---
const { title, index } = Astro.props;
---

<div class="relative group flex items-center overflow-visible">
  <span
    class="text-white font-semibold text-lg transition-all duration-300 whitespace-nowrap group-hover:translate-x-8"
  >
    {title}
  </span>

  <span
    class="absolute left-0 opacity-0 text-white font-semibold text-lg transition-all duration-300 whitespace-nowrap group-hover:opacity-100 group-hover:translate-x-0 translate-x-[-100%]"
  >
    {index < 10 ? `0${index}.` : `${index}.`}
  </span>
</div>
