---

---

<span
  class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 dark:bg-gray-500 overflow-hidden transition-all duration-300 ease-out"
>
  <span
    class="block w-0 h-full bg-primary transition-all duration-300 ease-out group-hover:w-full"
  ></span>
</span>
