---
interface Props {
  title: string;
  imageSrc: string;
}

const { title, imageSrc } = Astro.props as Props;
---

<div
  class="group relative overflow-hidden rounded-lg shadow-sm shadow-gray-600 dark:shadow-none w-full aspect-[4/3]"
>
  <img
    src={imageSrc}
    alt={title}
    class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
  />

  <div
    class="absolute inset-0 bg-black/20 group-hover:bg-black/30 transition-colors"
  >
  </div>
</div>
