---

---

<div
  id="play-icon"
  class="absolute inset-0 flex items-center justify-center pointer-events-none transition-all duration-300 ease-in-out group-hover:scale-110"
>
  <i class="fa-solid fa-play text-primary text-5xl"></i>
</div>
