---
const { title = "Nuestros productos", description = "Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur." } = Astro.props;
---
<div class="mb-8">
  <h2 class="text-5xl font-bold text-accent dark:text-dark-accent text-center mb-4">{title}</h2>
  <p class="text-lg text-blue-500 max-w-xl text-center mx-auto">{description}</p>
</div>