---
const { name, icon, color } = Astro.props;
---

<div class="flex items-center justify-center flex-shrink-0 w-36 sm:px-8">
  <i
    class={`${icon} text-4xl text-primary transition-transform duration-300 ${color} hover:scale-110`}
    title={name}></i>
</div>
