---
interface Props {
  id: string;
  color: string;
}

const { id, color } = Astro.props as Props;
---

<div
  class="flex items-center justify-center flex-shrink-0 w-36 sm:px-8 cursor-pointer logo-container"
  style={`--hover-fill: ${color};`}
>
  <svg width="48" height="48" class="logo-icon">
    <use href={`/svg/sprite.svg#${id}`}></use>
  </svg>
</div>

<style>
  .logo-icon {
    fill: #0376ff;
    transition:
      fill 0.3s ease,
      transform 0.3s ease;
  }

  .logo-container:hover .logo-icon {
    fill: var(--hover-fill);
  }

  .logo-container:hover {
    transform: scale(1.1);
  }
</style>
