---
const { url } = Astro.props;
---

<a
  href={url}
  class="flex items-center gap-2 group text-white transition-all duration-300"
>
  <span class="text-lg font-semibold">Ver más</span>

  <i
    class="fa-solid fa-arrow-right transition-transform duration-300 group-hover:translate-x-2"
  ></i>
</a>
