---
interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props as Props;
---

<a
  href={url}
  class="flex items-center gap-2 group text-primary dark:text-white transition-all duration-300"
>
  <span class="text-lg font-semibold">{text}</span>

  <i
    class="fa-solid fa-arrow-right transition-transform duration-300 group-hover:translate-x-2"
  ></i>
</a>
