@import "tailwindcss";


@theme {
  --color-primary: #1b7be7;
  --color-secondary: #429da4;
  --color-accent: #69bf62;
  --color-highlight: #91e220;
  --color-dark: #292735;

  --color-primary-light: #63a8f2;
  --color-secondary-light: #6ebfb7;
  --color-accent-light: #8eea81;
  --color-highlight-light: #b6f254;
  --color-dark-light: #3b3b3b;

  --color-primary-dark: #145bb6;
  --color-secondary-dark: #327a79;
  --color-accent-dark: #4b9139;
  --color-highlight-dark: #6eac1a;
  --color-dark-darker: #1b1b1b;
}
