---
interface Props {
  src: string;
  alt: string;
  title: string;
}

const { src, alt, title } = Astro.props;
---

<div
  class="flex justify-center md:justify-center md:pb-6 bg-transparent mb-10 md:mb-0 w-full md:w-2/5 cursor-crosshair"
>
  <img
    src={src}
    alt={alt}
    title={title}
    class="w-80 h-auto rounded-xl rotate-4 transition-transform duration-500 hover:scale-105 hover:-rotate-1 shadow-lg shadow-dark dark:shadow-dark-background-light"
  />
</div>
