---
import ServiceHeroButton from "../atoms/serviceHeroButton.astro";

interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props as Props;
---

<div class="text-center md:text-left space-y-4 lg:space-y-6">
  <h1
    class="text-4xl lg:text-6xl font-bold text-dark-primary dark:text-dark-dark prose"
  >
    {title}
  </h1>

  <p
    class="md:text-lg text-dark dark:text-dark-dark-darker max-w-md md:max-w-none mx-auto md:mx-0 prose"
  >
    {text}
  </p>

  <div class="pt-3 md:pt-4 lg:pt-6">
    <ServiceHeroButton />
  </div>
</div>
