---
interface Props {
  src: string;
  alt: string;
  title: string;
}

const { src, alt, title } = Astro.props;
---

<div
  class="w-full h-48 bg-primary-light dark:bg-dark-primary-light overflow-hidden rounded-t-xl flex items-center justify-center"
>
  <img
    src={src}
    alt={alt}
    title={title}
    class="object-cover w-full h-full group-hover:grayscale-25 transition-transform duration-1000 ease-in-out group-hover:scale-105"
  />
</div>
