---
interface Props {
  href: string;
  title: string;
  text?: string;
}

const {
  href = "#services-section",
  text = "Ver más",
  title,
} = Astro.props as Props;
---

<a
  href={href}
  title={title}
  aria-label={title}
  class="inline-block bg-primary dark:bg-dark-primary text-white text-sm font-semibold px-8 py-3 rounded-full shadow-md transition-transform transform hover:bg-primary-dark dark:hover:bg-dark-primary-dark"
>
  {text}
</a>
