---
// src/components/atoms/textDetailService.astro
export interface Props {
  text: string;
  className?: string;
}

const { text, className = "" } = Astro.props;
---

<p class={`text-detail ${className}`}>
  {text}
</p>

<style>
  .text-detail {
    color: var(--color-dark-light);
  }
  
  :global(.dark) .text-detail {
    color: var(--color-dark-dark-light);
  }
</style>