---
import { Meteors } from "@/components/magicui/meteors";
import ContactSection from "../components/contact/organisms/contactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="relative overflow-hidden h-[500px] w-full max-w-[350px]">
  <Meteors />
</div>
</Layout>
