---
import HeroSection from "../components/index/organisms/heroSection.astro";
import ServicesSection from "../components/index/organisms/servicesSection.astro";
import TechCarousel from "@/components/index/molecules/techCarousel.astro";
import PortfolioSection from "@/components/index/organisms/portfolioSection.astro";
import ContactSection from "@/components/index/organisms/contactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="sr-only">
    PrometeonDev - Desarrollo de software a medida y soluciones digitales
  </h1>

  <HeroSection />

  <ServicesSection />

  <TechCarousel />

  <PortfolioSection />

  <ContactSection />
</Layout>
