---
import Layout from "../layouts/Layout.astro";
import ServiveTitle from "../components/services/atoms/serviveTitle.astro";
import ServiceOverView from "../components/services/organims/serviceOverView.astro";
---

<Layout>
  <div class="bg-gray-200">
    
    <ServiveTitle title="Nuestros Servicios" />
    <ServiceOverView />
  </div>
</Layout>
