---
import LogoButton from "../atoms/logoButton.astro";
import NavLinkMobile from "../atoms/navLinkMobile.astro";
import CloseMenuButton from "../atoms/closeMenuButton.astro";
import SocialIcon from "../atoms/socialIcon.astro";
import ContactButtonMobile from "../atoms/contactButtonMobile.astro";
import { getWhatsAppLink } from "@/lib/whatsapp";

const links = [
  { href: "/", label: "Inicio" },
  { href: "/services", label: "Servicios" },
  { href: "/portfolio", label: "Portafolio" },
  { href: "/about", label: "Sobre nosotros" },
  { href: "/contact", label: "Contacto" },
];

const socialLinks = [
  {
    href: "https://www.linkedin.com/company/prometeondev/",
    icon: "fa-brands fa-linkedin",
    title: "Visitar LinkedIn de PrometeonDev",
  },
  {
    href: "https://github.com/prometeondev",
    icon: "fa-brands fa-github",
    title: "Visitar Github de PrometeonDev",
  },
  {
    href: "https://www.facebook.com/profile.php?id=61575255925454",
    icon: "fa-brands fa-facebook",
    title: "Visitar Facebook de PrometeonDev",
  },
  {
    href: "https://www.instagram.com/prometeon.dev/",
    icon: "fa-brands fa-instagram",
    title: "Visitar Instagram de PrometeonDev",
  },
  {
    href: getWhatsAppLink(),
    icon: "fa-brands fa-whatsapp",
    title: "Visitar Whatsapp de PrometeonDev",
  },
];
---

<div
  id="mobile-menu"
  class="fixed inset-0 min-h-screen bg-gray-300/50 bg-opacity-95 backdrop-blur-2xl transform translate-x-full transition-transform duration-300 flex flex-col px-6 pt-8 pb-2"
>
  <div class="w-full flex items-center justify-between">
    <LogoButton />

    <CloseMenuButton />
  </div>

  <div class="flex flex-col space-y-6 pl-4 text-xl font-semibold flex-1 mt-4">
    {links.map((link) => <NavLinkMobile {...link} />)}
  </div>

  <hr class="mb-16 border-gray-300" />

  <div class="flex justify-center space-x-6 mb-10">
    {socialLinks.map((link) => <SocialIcon {...link} />)}
  </div>

  <div class="bottom-8 w-full flex justify-center px-6">
    <ContactButtonMobile />
  </div>
</div>
