---
import NavItem from "../atoms/navItem.astro";
---

<nav class="flex flex-col md:flex-row gap-6">
  <NavItem href="/" label="Inicio" active />
  <NavItem href="#about_us" label="Nosotros" />
  <NavItem href="#services" label="Servicios" />
  <NavItem href="#portfolio" label="Portafolio" />
  <NavItem href="#contact" label="Contacto" />
</nav>
