---
interface Props {
  gallery: string[];
}

const { gallery } = Astro.props as Props;
const [mainImage, ...gridImages] = gallery;
---

<div class="grid grid-cols-2 gap-4">
  <img
    src={mainImage}
    alt="Vista principal"
    class="col-span-2 w-full rounded-xl shadow-md"
  />

  {
    gridImages.map((img: string, i: number) => (
      <img
        src={img}
        alt={`Vista ${i + 2}`}
        class="w-full h-full object-cover rounded-xl shadow col-span-1"
      />
    ))
  }
</div>
