---
const logoUrl = "/";
---

<a
  href={logoUrl}
  class="flex items-center p-0.5 rounded-lg bg-gray-200/50 transition backdrop-blur-md border border-gray-300"
>
  <img
    src="/favicon.ico"
    alt="Logo PrometeonDev"
    class="w-12 h-12 transition-transform duration-200 ease-in-out transform hover:scale-90"
  />
</a>
