---
const defaultTitle = "PrometeonDev";
const defaultSubtitle = "Software Development";
const defaultLogo = "/favicon.svg";

const {
  title = defaultTitle,
  subtitle = defaultSubtitle,
  logoPath = defaultLogo,
} = Astro.props;
---

<a
  href="/"
  class="flex items-center gap-2 text-primary font-bold text-3xl cursor-pointer hover:text-primary-light transition-colors"
>
  <img src={logoPath} alt={title} class="w-10 h-10" />
  <span>
    {title}
    <small class="text-xs block text-accent dark:text-dark-accent">
      {subtitle}
    </small>
  </span>
</a>
