---
const logoUrl = "/";
---

<a
  href={logoUrl}
  title="Volver al inicio de PrometeonDev"
  aria-label="Volver al inicio de PrometeonDev"
  class="flex items-center py-0.5 px-2 rounded-lg bg-gray-200/50 transition backdrop-blur-md border border-gray-300"
>
  <img
    src="/global/logo-blanco.webp"
    alt="Logo PrometeonDev"
    title="Volver al inicio de PrometeonDev"
    class="hidden dark:block w-10 h-12 transition-transform duration-200 ease-in-out hover:scale-90"
  />

  <img
    src="/global/logo-azul-claro.webp"
    alt="Logo PrometeonDev"
    title="Volver al inicio de PrometeonDev"
    class="block dark:hidden w-10 h-12 transition-transform duration-200 ease-in-out hover:scale-90"
  />
</a>
