---
const logoUrl = "/";
---

<a
  href={logoUrl}
  class="flex items-center py-0.5 px-2 rounded-lg bg-gray-200/50 transition backdrop-blur-md border border-gray-300"
>
  <img
    src="/global/LOGO-BLANCO.webp"
    alt="Logo PrometeonDev"
    class="hidden dark:block w-10 h-12 transition-transform duration-200 ease-in-out hover:scale-90"
  />

  <img
    src="/global/LOGO-AZUL-CLARO.webp"
    alt="Logo PrometeonDev"
    class="block dark:hidden w-10 h-12 transition-transform duration-200 ease-in-out hover:scale-90"
  />
</a>
