---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props as Props;
const isActive =
  href === "/"
    ? Astro.url.pathname === "/"
    : Astro.url.pathname.startsWith(href);
---

<a
  href={href}
  title={`Ir a la sección ${label}`}
  aria-label={`Navegar a la sección ${label}`}
  class={`text-md  transition-all duration-300 hover:text-dark-light dark:hover:text-dark-background-light ${
    isActive
      ? "text-dark-darker dark:text-dark-background-light font-semibold"
      : "text-dark dark:text-dark-dark"
  }`}
>
  {label}
</a>
