---
import ImageTextBlock from '../molecules/imageTextBlock.astro'
---

<section class="bg-gray-50">
  <div class="max-w-6xl mx-auto px-4">
    <ImageTextBlock 
      title="Nuestra historia" 
      image="/images/about/history.jpg" 
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna. Integer ullamcorper neque eu purus euismod, ac facilisis eros ultricies. Nunc vehicula, erat eget laoreet condimentum, nulla erat vestibulum turpis, nec dictum ex lacus in urna." 
      reverse={true}
    />
  </div>
</section>
