---
import ImageTextBlock from '../molecules/imageTextBlock.astro'
---

<section class="bg-black text-white">
  <div class="max-w-6xl mx-auto px-4">
    <ImageTextBlock 
      title="Nuestra misión" 
      image="/images/about/mission.jpg" 
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis lectus eget risus dictum, vitae eleifend purus tincidunt. Sed convallis, nulla a posuere aliquam, erat erat imperdiet augue, vel sollicitudin odio erat a justo. Nuestra misión es ser aliados tecnológicos confiables, que construyen soluciones que importan, impulsan y evolucionan junto con quienes las utilizan." 
    />
  </div>
</section>
