---
import TeamMemberCard from "../molecules/TeamMemberCard.astro";

export const team = [
  {
    name: "Brayan Estupi침치n",
    role: "Photographer",
    image: "/brayan.webp",
    socials: {
      github: "https://github.com/Angarita-17",
      linkedin: "https://www.linkedin.com/in/brayangarita/",
    },
  },
  {
    name: "Johan Ramirez",
    role: "Photographer",
    image: "/johan.webp",
    socials: {
      github: "https://github.com/Tom21-xd",
      linkedin: "https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/",
    },
  },
  {
    name: "Sebasti치n Sierra",
    role: "Photographer",
    image: "/sebastian.webp",
    socials: {
      github: "https://github.com/johnlewis",
      linkedin: "https://linkedin.com/in/johnlewis",
    },
  },
  {
    name: "Brayan G칩mez",
    role: "Photographer",
    image: "/brayan.webp",
    socials: {
      github: "https://github.com/johnlewis",
      linkedin: "https://linkedin.com/in/johnlewis",
    },
  },
  {
    name: "Michael Martinez",
    role: "Photographer",
    image: "/michael.webp",
    socials: {
      github: "https://github.com/johnlewis",
      linkedin: "https://linkedin.com/in/johnlewis",
    },
  },
  {
    name: "Danna Navia",
    role: "Photographer",
    image: "/danna.webp",
    socials: {
      github: "https://github.com/Dannanavia",
      linkedin: "http://www.linkedin.com/in/danna-vanessa-navia-01b24b315",
    },
  },
];
---

<section class="py-12 text-white">
  <div class="max-w-[1200px] mx-auto px-4">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
      {team.map((member) => <TeamMemberCard {...member} />)}
    </div>
  </div>
</section>
