---
import InfiniteTextCarousel from '../molecules/infiniteTextCarousel.astro';

const values = [
  { text: 'INNOVACIÓN' },
  { text: 'EFICIENCIA' },
  { text: 'PASIÓN' },
  { text: 'CRECIMIENTO' },
  { text: 'IMPACTO' }
];
---

<section class="values-carousel">
  <InfiniteTextCarousel items={values} speed={20} />
</section>

<style>
  .values-carousel {
    padding: 0.002rem 0;
  }
</style>