---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main>
		<div class="bg-primary-dark">
			<a href="aa">aaaaaaaaa</a>
		</div>
	</main>

</div>
