---
import HeroContent from "../molecules/heroContent.astro";
import VideoModal from "../molecules/videoModal.astro";
---

<section class="relative flex w-full min-h-screen overflow-hidden p-4">
  <HeroContent />
</section>

<VideoModal videoSrc="https://www.youtube.com/watch?v=-M_18UPW_Ns" />
