---
import { initializeLenis } from "../../../utils/lenis";
import Card from "../atoms/card.astro";
import SectionTitle from "../atoms/sectionTitle.astro";

if (typeof window !== "undefined") {
  initializeLenis();
}
---

<section class="bg-black py-16 overflow-hidden">
  <div class="container mx-auto px-4">
    <SectionTitle 
      title="Nuestros Servicios" 
      description="Desarrollo web, móvil, software empresarial, IA y dashboards interactivos."
    />
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-16">
      <Card 
        title="Diseño web"
        image="/home/1.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="Landing"
        rightText="E-ecomerc"
      />
      <Card 
        title="Aplicaciones moviles"
        image="/home/2.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="iOS"
        rightText="Android"
      />
      <Card 
        title="Inteligencia de Negocios"
        image="/home/3.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="Power BI"
        rightText="KPis"
      />
    </div>
  </div>
</section>