---
import { initializeLenis } from "../../../utils/lenis";
import Card from "../atoms/card.astro";
import SectionTitle from "../atoms/sectionTitle.astro";

if (typeof window !== "undefined") {
  initializeLenis();
}
---

<section id="services" class="bg-black py-16 overflow-hidden">
  <div class="container mx-auto px-4">
    <SectionTitle
      title="Nuestros Servicios"
      description="Desarrollo web, móvil, software empresarial, IA y dashboards interactivos."
    />

    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-16">
      <Card
        title="Diseño web"
        image="/images/home/web-design.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="Landing"
        rightText="E-ecomerc"
      />

      <Card
        title="Aplicaciones moviles"
        image="/images/home/mobile-aplication.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="iOS"
        rightText="Android"
      />

      <Card
        title="Inteligencia de Negocios"
        image="/images/home/business-intelligence.webp"
        glowColor="rgba(255,255,255,0.2)"
        leftText="Power BI"
        rightText="KPis"
      />
    </div>
  </div>
</section>
