---
import TechLogo from "../atoms/techLogo.astro";

const logos = [
  { name: "Node.js", icon: "fa-brands fa-node" },
  { name: "Next.js", icon: "fa-brands fa-node" },
  { name: "MongoDB", icon: "fa-brands fa-database" },
  { name: "PostgreSQL", icon: "fa-brands fa-database" },
  { name: "MySQL", icon: "fa-brands fa-database" },
  { name: "Python", icon: "fa-brands fa-python" },
  { name: "React", icon: "fa-brands fa-react" },
  { name: "Java", icon: "fa-brands fa-java" },
  { name: "Laravel", icon: "fa-brands fa-laravel" },
  { name: "Postman", icon: "fa-brands fa-laravel" },
  { name: "Wordpress", icon: "fa-brands fa-laravel" },
];
---

<div class="logo-carousel-container bg-black py-8">
  <div class="logo-track">
    {
      logos.map((logo) => (
        <div class="logo-icon" title={logo.name}>
          <i class={logo.icon} style="font-size: 2rem;" />
        </div>
      ))
    }

    {
      logos.map((logo) => (
        <div class="logo-icon" title={logo.name}>
          <i class={logo.icon} style="font-size: 2rem;" />
        </div>
      ))
    }
  </div>
</div>

<style>
  .logo-carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
  }

  .logo-track {
    display: flex;
    animation: scroll 10s linear infinite;
    width: fit-content;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .logo-track:hover {
    animation-play-state: paused;
  }
</style>
