---
import ContactIcon from "../atoms/contactIcon.astro";

const phone = "+57 3112652944";
const email = "prometeondev@gmail.com";
---

<div class="flex flex-col gap-4">
  <p class="text-lg text-dark dark:text-white">
    ¿Tienes una idea en mente o un proyecto en marcha? ¡Contáctanos y hagámoslo
    realidad juntos!
  </p>

  <div class="flex items-center gap-2">
    <ContactIcon icon="fa-solid fa-phone" />
    <span>{phone}</span>
  </div>

  <div class="flex items-center gap-2">
    <ContactIcon icon="fa-solid fa-envelope" />
    <span>{email}</span>
  </div>

  <h3 class="text-lg mt-4 font-semibold">Redes sociales</h3>
  <div class="flex gap-3 text-xl">
    <a href="https://www.linkedin.com/company/prometeondev/" target="_blank"
      ><i class="fa-brands fa-linkedin"></i></a
    >
    <a href="https://github.com/prometeondev" target="_blank"
      ><i class="fa-brands fa-github"></i></a
    >
    <a href="https://www.instagram.com/prometeondev" target="_blank"
      ><i class="fa-brands fa-instagram"></i></a
    >
    <a
      href="https://www.facebook.com/profile.php?id=61575255925454"
      target="_blank"><i class="fa-brands fa-facebook"></i></a
    >
    <a href="https://x.com/prometeondev" target="_blank"
      ><i class="fa-brands fa-x-twitter"></i></a
    >
  </div>
</div>
