---
import ContactIcon from "../atoms/contactIcon.astro";
---

<div class="p-8 rounded-lg shadow-lg flex flex-col gap-6 transition-transform transform hover:scale-105 border-1  border-primary-light backdrop-blur-sm ">
  <h2 class="text-3xl font-bold text-primary dark:text-dark-primary text-center">
    Contáctanos
  </h2>
  <ul class="space-y-4 text-secondary dark:text-dark-secondary-light text-center">
    <li><i class="fa-solid fa-envelope"></i> lorem@gmail.com</li>
    <li><i class="fa-solid fa-user"></i> Khzuna Bagenhat</li>
    <li><i class="fa-solid fa-phone"></i> +80 01231 456708</li>
  </ul>
  <p class="text-dark-light dark:text-dark-dark-light text-center">Síguenos en nuestras redes:</p>
  <div class="flex gap-4 text-2xl justify-center">
    <ContactIcon icon="fa-brands fa-facebook" link="#" />
    <ContactIcon icon="fa-brands fa-twitter" link="#" />
    <ContactIcon icon="fa-brands fa-instagram" link="#" />
    <ContactIcon icon="fa-brands fa-linkedin" link="#" />
  </div>
</div>
