---
import ServiceCard from "../molecules/serviceCard.astro";
---

<section class="flex flex-col md:flex-row justify-end gap-8 mr-10 ml-10">
  <ServiceCard
    title="Diseño"
    ,
    description="Creamos experiencias unicas para el usuario"
  />
  <ServiceCard
    title="Desarrollo"
    ,
    description="Desarrollamos aplicaciones web y moviles"
  />
  <ServiceCard title="Inteligencia de negocio", description="Se desarrollan dashboards interactivos"/>
</section>
