---
interface Props {
  text: string;
}

const { text = "" } = Astro.props as Props;
---

<h2
  class="text-3xl text-center md:text-4xl font-bold text-primary dark:text-dark-dark mb-4"
>
  {text}
</h2>
