---
interface Props {
  icon: string;
  href: string;
  delay?: number;
}

const { icon, href, delay = 100 } = Astro.props as Props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`text-background text-2xl opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 delay-[${delay}ms]`}
>
  <i class={icon}></i>
</a>
