---
import "@fontsource-variable/onest";
import "../styles/global.css";
import Footer from "../components/global/organisms/footer.astro";
import Header from "../components/global/organisms/header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>PrometeonDev - Desarrollo de Software, Web y Móvil</title>
    <meta
      name="description"
      content="PrometeOnDev es una empresa de desarrollo de software que ofrece soluciones innovadoras en desarrollo web, móvil, inteligencia artificial y dashboards. Simplificamos la tecnología para llevar tu negocio al siguiente nivel."
    />
    <meta
      name="keywords"
      content="desarrollo de software, desarrollo web, desarrollo móvil, inteligencia artificial, dashboards, tecnología, prometeondev, landing page"
    />
    <meta name="author" content="PrometeOnDev" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div
      class="bg-background dark:bg-dark-background text-dark dark:text-gray-400"
    >
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Onest Variable", sans-serif;
  }
</style>
