---
import "../styles/global.css";
import Footer from "../components/global/organisms/footer.astro";
import Header from "../components/global/organisms/header.astro";
import WhatsappFloatingIcon from "@/components/global/atoms/whatsappFloatingIcon.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "PrometeonDev - Desarrollo de Software, Web y Móvil",
  description = "PrometeOnDev es una empresa de desarrollo de software que ofrece soluciones innovadoras en desarrollo web, móvil, inteligencia artificial y dashboards. Simplificamos la tecnología para llevar tu negocio al siguiente nivel.",
} = Astro.props as Props;
---

<html lang="es" class="dark w-full h-full m-0 font-secondary">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta
      name="keywords"
      content="desarrollo de software, desarrollo web, desarrollo móvil, inteligencia artificial, dashboards, tecnología, prometeondev, landing page"
    />
    <meta name="author" content="PrometeOnDev" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div
      class="bg-background dark:bg-dark-background text-dark dark:text-gray-400"
    >
      <Header />
      <slot />
      <WhatsappFloatingIcon />
      <Footer />
    </div>
  </body>
</html>
