---
interface Props {
  link: string;
  text?: string;
}

const { link, text } = Astro.props as Props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="text-primary dark:text-dark-dark-darker hover:underline decoration-[1.5px] hover:text-dark dark:hover:text-dark-primary hover:scale-[1.02] transition-all duration-200"
>
  {text || link}
</a>
