---
interface Props {
  url: string;
  icon: string;
  title: string;
}

const { url, icon, title } = Astro.props as Props;
---

<a
  href={url}
  title={title}
  aria-label={`Abrir ${title} en una nueva pestaña`}
  target="_blank"
  rel="noopener noreferrer"
  class="text-dark dark:text-dark-dark hover:text-primary dark:hover:text-primary transition duration-300 hover:scale-95"
>
  <i class={`fa-brands fa-${icon} text-3xl`}></i>
</a>
