---
import SectionTitle from "../atoms/sectionTitle.astro"
const { text = "" } = Astro.props;
---

<section class="pt-8 pb-0 text-white">
  <div class="max-w-[1200px] mx-auto px-4">
    <SectionTitle text= {text} />
  </div>
</section>
