---
import SectionTitle from "../atoms/sectionTitle.astro";

interface Props {
  text?: string;
}
const { text = "Sobre nosotros" } = Astro.props as Props;
---

<div class="pt-24 mx-auto px-4">
  <SectionTitle text={text} />
</div>
