---
import StatCard from "../molecules/statCard.astro";

const stats = [
  { value: "26", label: "Proyectos" },
  { value: "2", label: "Años" },
  { value: "10", label: "Clientes" },
  { value: "6", label: "En desarrollo" },
];
---

<section>
  <div
    class="max-w-10/12 mx-auto w-full px-6 grid grid-cols-2 md:flex items-center justify-center md:justify-between gap-4 text-center"
  >
    {
      stats.map((stat, index) => (
        <>
          <StatCard value={stat.value} label={stat.label} />

          {index < stats.length - 1 && (
            <div class="hidden md:block h-16 w-px bg-dark dark:bg-dark-dark" />
          )}
        </>
      ))
    }
  </div>
</section>
