---
import Heading from "../atoms/heading.astro";
import ViewMoreButton from "@/components/index/atoms/viewMoreButton.astro";
import TeamMemberCard from "../molecules/teamMemberCard.astro";

export const team = [
  {
    name: "Brayan Estupiñán",
    role: "Desarrollador Fullstack y Móvil",
    image: "/images/about/brayan-esupinian.webp",
    socials: {
      github: "https://github.com/Angarita-17",
      linkedin: "https://www.linkedin.com/in/brayangarita/",
    },
  },
  {
    name: "Johan Ramirez",
    role: "Director de Proyectos y Arquitecto de Software",
    image: "/images/about/johan-ramirez.webp",
    socials: {
      github: "https://github.com/Tom21-xd",
      linkedin:
        "https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/",
    },
  },
  {
    name: "Sebastián Sierra",
    role: "Líder Técnico y Desarrollador Backend",
    image: "/images/about/sebastian-sierra.webp",
    socials: {
      github: "https://github.com/SebastianSierra15",
      linkedin: "https://www.linkedin.com/in/sebastian-sierra-417358263/",
    },
  },
  {
    name: "Brayan Gómez",
    role: "Ingeniero QA y Tester Automatizado",
    image: "/images/about/brayan-gomez.webp",
    socials: {
      github: "https://github.com/SeitoUwU",
      linkedin: "https://www.linkedin.com/in/brayan-gomez-ing/",
    },
  },
  {
    name: "Michael Martinez",
    role: "Analista de Negocio y Requerimientos",
    image: "/images/about/michael-martinez.webp",
    socials: {
      github: "https://github.com/Micha852",
      linkedin: "https://www.linkedin.com/in/mamg0852/",
    },
  },
  {
    name: "Danna Navia",
    role: "CEO y Diseñadora UX/UI",
    image: "/images/about/danna-navia.webp",
    socials: {
      github: "https://github.com/Dannanavia",
      linkedin: "http://www.linkedin.com/in/danna-vanessa-navia-01b24b315",
    },
  },
];

const textHeading = "Nuestro equipo";
const textButton = "Ver todo el equipo";
const urlButton = "/about/our-team";
const titleButton = "Ver todos los miembros del equipo PrometeonDev";

const selected = team.sort(() => 0.5 - Math.random()).slice(0, 3);
---

<section class="py-6 md:py-12 px-6 lg:px-12 text-dark dark:text-dark-dark">
  <div class="max-w-11/12 mx-auto">
    <div
      class="flex flex-col md:flex-row justify-between items-center mb-10 gap-4"
    >
      <Heading text={textHeading} />

      <ViewMoreButton text={textButton} url={urlButton} title={titleButton} />
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {
        selected.map((member) => (
          <TeamMemberCard {...member} headingLevel={3} />
        ))
      }
    </div>
  </div>
</section>
