---
import InfiniteTextCarousel from "../molecules/infiniteTextCarousel.astro";

const values = [
  { text: "INNOVACIÓN" },
  { text: "EFICIENCIA" },
  { text: "PASIÓN" },
  { text: "CRECIMIENTO" },
  { text: "IMPACTO" },
];
---

<section class="relative w-full overflow-hidden my-4">
  <InfiniteTextCarousel items={values} speed={20} />
</section>
