---
const { image, title, text, reverse = false } = Astro.props;
import Heading from '../atoms/heading.astro'
import Paragraph from '../atoms/paragraph.astro'
---

<div class={`flex flex-col md:flex-row ${reverse ? 'md:flex-row-reverse' : ''} items-center gap-8 py-12`}>
  <div class="w-full md:w-1/2 overflow-hidden shadow-lg">
    <img 
      src={image} 
      alt={title} 
      class="w-full h-auto object-cover transform transition duration-500 hover:scale-105 hover:brightness-90" 
    />
  </div>
  
  <div class="md:w-1/2 text-center md:text-justify px-4">
    <Heading text={title} />
    <Paragraph text={text}/>
  </div>
</div>
