---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ProjectDetailSection from "@/components/project/organisms/projectDetailSection.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project: CollectionEntry<"projects">) => ({
    params: { id: project.slug },
    props: { entry: project },
  }));
}

interface Props {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props as Props;
const { Content } = await render(entry);
---

<Layout
  title=`${entry.data.title} - PrometeonDev`
  description={entry.data.shortDescription}
>
  <div class="container mx-auto text-center py-28 px-4 pb-4">
    <h1
      class="text-5xl font-primary font-bold text-primary dark:text-dark-dark mb-6"
    >
      {entry.data.title}
    </h1>
  </div>

  <ProjectDetailSection entry={entry}>
    <Content />
  </ProjectDetailSection>
</Layout>
