---
import NavItem from "../atoms/navItem.astro";
import SocialIconFooter from "../atoms/socialIconFooter.astro";
import ThemeToggle from "../atoms/themeToggle.astro";
import { getWhatsAppLink } from "@/lib/whatsapp";

const navItems = [
  { label: "Inicio", href: "/" },
  { label: "Sobre nosotros", href: "/about" },
  { label: "Servicios", href: "/services" },
  { label: "Portfolio", href: "/portfolio" },
  { label: "Contacto", href: "/contact" },
];

const socialLinks = [
  {
    href: "https://www.facebook.com/profile.php?id=61575255925454",
    iconClass: "fa-brands fa-facebook",
    ariaLabel: "Facebook",
  },
  {
    href: "https://www.linkedin.com/company/prometeondev/",
    iconClass: "fa-brands fa-linkedin",
    ariaLabel: "LinkedIn",
  },
  {
    href: "https://www.instagram.com/prometeon.dev/",
    iconClass: "fa-brands fa-instagram",
    ariaLabel: "Instagram",
  },
  {
    href: "https://x.com/PrometeonDev",
    iconClass: "fa-brands fa-x-twitter",
    ariaLabel: "X",
  },
  {
    href: getWhatsAppLink(),
    iconClass: "fa-brands fa-whatsapp",
    ariaLabel: "WhatsApp",
  },
];

const email: string = import.meta.env.PUBLIC_COMPANY_EMAIL || "";
console.log("Phone: ", import.meta.env.PUBLIC_COMPANY_PHONE);
console.log("Email: ", import.meta.env.PUBLIC_COMPANY_EMAIL);

---

<footer
  class="bg-gradient-to-t from-dark/20 dark:from-dark-background-light via-80% to-60% pt-10 pb-4 flex flex-col items-center gap-6 text-dark dark:text-white transition-colors"
>
  <a href="/">
    <img
      src="/global/LOGO-BLANCO.webp"
      alt="Logo PrometeonDev"
      class="hidden dark:block w-12 h-14 transition"
      loading="lazy"
    />

    <img
      src="/global/LOGO-NEGRO.webp"
      alt="Logo PrometeonDev"
      class="block dark:hidden w-12 h-14 transition"
      loading="lazy"
    /></a
  >

  <nav>
    <ul
      class="flex flex-wrap justify-center gap-4 md:gap-8 text-lg font-semibold"
    >
      {navItems.map((item) => <NavItem {...item} />)}
    </ul>
  </nav>

  <div class="flex items-center gap-4 flex-wrap justify-center">
    {socialLinks.map((link) => <SocialIconFooter {...link} />)}
  </div>

  <div class="text-center flex flex-col items-center gap-4 -mt-4">
    <a
      href={`mailto:${email}`}
      class="flex items-center gap-2 text-sm font-medium hover:text-primary transition"
    >
      <i class="fa-solid fa-envelope text-base"></i>
      {email}
    </a>

    <ThemeToggle />
  </div>

  <hr
    class="w-full max-w-screen-md border-t border-dark dark:border-white opacity-20"
  />

  <p class="text-center text-sm opacity-70">
    © 2025 PrometeonDev. All Rights Reserved.
  </p>
</footer>
