---
import LogoButton from "../atoms/logoButton.astro";


---

<footer
  class="bg-background dark:bg-dark-background py-12 flex flex-col items-center gap-8 text-dark dark:text-white transition-colors"
>
      <LogoButton title="Prometeon" subtitle="Software Development" />

  <nav>
    <ul class="flex gap-8 text-lg font-semibold">
      <li>
        <a
          href="#"
          class="relative group text-dark dark:text-white transition-colors"
          >Inicio
          <span
            class="absolute left-0 right-0 bottom-0 h-[2px] bg-accent dark:bg-dark-accent-light scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="relative group text-dark dark:text-white transition-colors"
          >Sobre nosotros
          <span
            class="absolute left-0 right-0 bottom-0 h-[2px] bg-accent dark:bg-dark-accent-light scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="relative group text-dark dark:text-white transition-colors"
          >Servicios
          <span
            class="absolute left-0 right-0 bottom-0 h-[2px] bg-accent dark:bg-dark-accent-light scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="relative group text-dark dark:text-white transition-colors"
          >Contacto
          <span
            class="absolute left-0 right-0 bottom-0 h-[2px] bg-accent dark:bg-dark-accent-light scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="relative group text-dark dark:text-white transition-colors"
          >Porfolio
          <span
            class="absolute left-0 right-0 bottom-0 h-[2px] bg-accent dark:bg-dark-accent-light scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left"
          ></span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex gap-6">
    <a href="#" class="text-2xl hover:text-accent dark:hover:text-accent-light"
      ><i class="fa-brands fa-facebook"></i></a
    >
    <a href="#" class="text-2xl hover:text-accent dark:hover:text-accent-light"
      ><i class="fa-brands fa-x"></i></a
    >
    <a
      href="https://www.linkedin.com/company/prometeondev/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-2xl hover:text-accent dark:hover:text-accent-light"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="#" class="text-2xl hover:text-accent dark:hover:text-accent-light"
      ><i class="fa-brands fa-instagram"></i></a
    >
  </div>

  <hr
    class="w-full max-w-screen-md border-t border-dark dark:border-white opacity-20"
  />

  <p class="text-center text-sm opacity-70">
    © 2025 Prometeon. All Rights Reserved.
  </p>
</footer>
