---
import LogoButton from "../atoms/logoButton.astro";
import NavMenu from "../molecules/navMenu.astro";
import MobileMenu from "../molecules/mobileMenu.astro";
import ContactBurgerButton from "../molecules/contactBurgerButton.astro";
---

<header class="fixed left-0 top-0 min-w-full bg-transparent z-40">
  <div class="flex justify-between items-center gap-8 px-6 pt-6">
    <LogoButton />

    <NavMenu />

    <div class="flex md:hidden">
      <ContactBurgerButton id="burger-button" />
    </div>
  </div>

  <MobileMenu />

  <script>
    function setupToggleMenu(
      buttonId: string,
      menuId: string,
      closeButtonId: string
    ): void {
      const burgerButton = document.getElementById(
        buttonId
      ) as HTMLButtonElement | null;
      const mobileMenu = document.getElementById(menuId) as HTMLElement | null;
      const closeButton = document.getElementById(
        closeButtonId
      ) as HTMLButtonElement | null;
      const body = document.body;

      if (!burgerButton || !mobileMenu || !closeButton) {
        return;
      }

      burgerButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("translate-x-full");
        mobileMenu.classList.toggle("translate-x-0");

        body.classList.add("overflow-hidden");
      });

      closeButton.addEventListener("click", () => {
        mobileMenu.classList.add("translate-x-full");
        mobileMenu.classList.remove("translate-x-0");

        body.classList.remove("overflow-hidden");
      });
    }

    if (typeof window !== "undefined") {
      document.addEventListener("DOMContentLoaded", () => {
        setupToggleMenu("burger-button", "mobile-menu", "close-menu-button");
      });
    }
  </script>
</header>
